/* Coolors Exported Palette - coolors.co/80a1c1-eee3ab-d9cfc1-a77e58-ba3f1d */

/* HSL */
$color1: hsla(210%, 34%, 63%, 1);
$color2: hsla(50%, 66%, 80%, 1);
$color3: hsla(35%, 24%, 80%, 1);
$color4: hsla(29%, 31%, 50%, 1);
$color5: hsla(13%, 73%, 42%, 1);

/* RGB */
$color1: rgba(128, 161, 193, 1);
$color2: rgba(238, 227, 171, 1);
$color3: rgba(217, 207, 193, 1);
$color4: rgba(167, 126, 88, 1);
$color5: rgba(186, 63, 29, 1);